.jogo_action_wrapper{
	width: 200px;
	margin-bottom: 40px;
}
.jogo_detalha{
	float: left;
}
.jogo_remove{
	float: right;
}
.categoria_action_wrapper{
	width: 240px;
	margin-bottom: 40px;
}
.categoria_detalha{
	float: left;
}
.categoria_remove{
	float: right;
}
.form-well{
	width: 300px;
	padding-left: 20px;
}
.list-well{
	width: 500px;
	padding-left: 20px;
}
.ordenar_wrapper{
	width: 300px;
	margin-bottom: 14px;
	height: 36px;
}
.ordenar-select{
	float:left !important;
	width: 210px !important;
}
.ordenar-botao{
	float:right !important;
}